[package]
name = "kernelstats"
version = "0.1.0"
authors = ["John-John Tedro <udoprog@tedro.se>"]
license = "MIT/Apache-2.0"
edition = "2018"

[dependencies]
serde = "1"
serde_json = "1"
serde_derive = "1"
